    .item {
        height: 100%;
    }

    .item img {
        width: 100%;
        height: 100% !important;
    }

    .navbar h2 {
        line-height: 100px;
        color: #ffffff;
        margin: 0px;
    }

    section {
        padding: 0 100px;
    }

    .middle_page {
        border-bottom: 1px solid #e7e7e7;
        text-align: center;
    }

    .middle_page_title {
        margin-top: 50px;
        padding-bottom: 20px;
    }

    .middle_page_title p {
        margin-top: 40px;
        font-size: 16px;
        letter-spacing: 6px;
    }

    .page_wrap {
        display: inline-block;
        vertical-align: middle;
    }

    .middle_title {
        color: #0099ff;
        margin-top: 0px;
        margin-bottom: 18px;
        line-height: 1.4;
    }

    .page_wrap p {
        font-size: 16px;
        line-height: 32px;
    }

    .middle0_wrap {
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .middle0_left {
        float: left;
        background: url("./../../img/middle_first.png") no-repeat;
        width: 442px;
        height: 377px;
    }

    .middle0_right {
        float: right;
        margin-top: 110px;
        margin-left: 230px;
    }

    .middle1_wrap {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .middle1_left {
        background: url("./../../img/map.png") no-repeat;
        width: 570px;
        height: 420px;
        float: left;
    }

    .middle1_right {
        float: right;
        margin-top: 119px;
        margin-left: 50px;
    }

    .middle2_wrap {
        margin-top: 20px;
    }

    .middle2_left {
        margin-top: 133px;
        float: left;
    }

    .middle2_right {
        background: url("./../../img/phone.png") no-repeat;
        float: right;
        width: 444px;
        height: 380px;
        margin-left: 180px;
    }

    .middle3_wrap {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .middle3_left {
        float: left;
        margin-top: 36px;
    }

    .middle3_right {
        background: url("./../../img/save_radio.png") no-repeat;
        float: right;
        width: 444px;
        height: 263px;
        margin-left: 180px;
    }

    .middle4_wrap {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .middle4_left {
        background: url("./../../img/size.png") no-repeat;
        width: 575px;
        height: 228px;
        float: left;
    }

    .middle4_right {
        float: right;
        margin-top: 19px;
        margin-left: 150px;
    }

    @media (max-width: 1381px) {
        .middle0_wrap {
            margin-top: 20px;
        }

        .middle0_right {
            clear: both;
            margin-top: 60px;
            margin-left: 0px;
            margin-right: 70px;
        }

        .middle1_right {
            clear: both;
            margin-top: 60px;
            margin-left: 0px;
        }

        .middle2_left {
            margin-top: 20px;
        }

        .middle2_right {
            clear: both;
            margin-left: 0px;
            margin-top: 60px;
        }

        .middle3_left {
            float: left;
            margin-top: 0px;
        }

        .middle3_right {
            clear: both;
            margin-left: 0px;
            margin-top: 60px;
        }

        .middle4_right {
            clear: both;
            margin-left: 0px;
            margin-top: 60px;
            margin-right: 70px;
        }
    }

    .green_title {
        color: #339900;
        padding-top: 30px;
        height: 180px;
        margin-bottom: 0px;
        line-height: 1.8;
    }

    .green_body {
        background: url("./../../img/green.png") no-repeat;
        background-size: cover;
    }

    .green_detail {
        color: #ffffff;
        height: 240px;
        margin-top: 34%;
        padding-top: 200px;
        line-height: 1.6;
    }

    .green_one {
        background: url("./../../img/green_one.png") no-repeat top center;
    }

    .green_two {
        background: url("./../../img/green_two.png") no-repeat top center;
    }

    .green_three {
        background: url("./../../img/green_three.png") no-repeat top center;
    }

    .green_four {
        background: url("./../../img/green_four.png") no-repeat top center;
    }

    @media (max-width: 991px) {
        .green_body .col-xs-6 .green_detail {
            margin-top: 10%;
        }
    }

    #carousel-example-generic2 .carousel-caption {
        bottom: auto;
    }

    #carousel-example-generic2 .carousel-caption p {
        line-height: 1.8;
        font-size: 16px;
        letter-spacing: 2px
    }

    .content {
        margin-bottom: 0px;
    }

    .nav-top {
        background: #448cca;
        border-color: #448cca;
    }

    .nav-top h2 {
        padding: 29px;
        line-height: 1.4 !important;
    }

    .nav-bottomtitle {
        background: #ffffff;
        margin-bottom: 0px;
    }

    .nav-bottomtitle h2 {
        color: #0099ff;
        font-size: 28px;
        padding: 29px 0;
        line-height: 1.4 !important;
    }

    /*中间图*/
    .middle_page_show{
        max-width: 1120px ;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin:  30px 0px;
    }
    .middle_show {
        display: inline-block;
        width: 178px;
        height: 178px;
        margin-bottom: 10px;
        margin-right: 4px;
        position: relative;
    }

    .middle_show img {
        width: 100%;
        height: 100%;
    }
    .show_div{
        width: 178px;
        height:40px;
        color: #ffffff;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        bottom: 0px;
        padding-top: 10px;
        display: none;
    }
