<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信息修改</title>
</head>

<body>
    <div id="pgHead"></div>
    <main class="content">
        <!--面包屑导航-->
        <nav class="navbar navbar-default nav-height">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-md-2">
                        <h3 class="text-right nav-title">账户中心</h3>
                    </div>
                    <div class="col-xs-9 col-md-10">
                        <ol class="breadcrumb">
                            <li>Home</li>
                            <li>注册资料</li>
                            <li>信息修改</li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <!--边栏-->
                <div class="col-xs-3 col-md-2 text-right side_left">
                    <dl>
                        <dt><i class="side_ico ico_log"></i>注册资料</dt>
                        <dd><a href="infor.html">公司信息</a></dd>
                        <dd><a href="inforChange.html" class="active">信息修改</a></dd>
                    </dl>
                    <dl>
                        <dt><i class="side_ico ico_count"></i>资金账户</dt>
                        <dd><a href="recharge.html">充值记录</a></dd>
                        <dd><a href="#">账户充值</a></dd>
                    </dl>
                    <dl>
                        <dt><i class="side_ico ico_record"></i>交易记录</dt>
                        <dd><a href="#">订单管理</a></dd>
                    </dl>
                    <dl>
                        <dt><i class="side_ico ico_fav"></i>方案收藏</dt>
                        <dd><a href="collect.html">收藏管理</a></dd>
                    </dl>
                    <dl>
                        <dt><i class="side_ico ico_mes"></i>站内消息</dt>
                        <dd><a href="unmessage.html">未读消息</a></dd>
                        <dd><a href="#">全部消息</a></dd>
                        <dd><a href="#">已读消息</a></dd>
                        <dd><a href="#">我的留言</a></dd>
                    </dl>
                </div>
                <div class="col-xs-9 col-md-10">
                    <div class="side_right">
                        <h4 class="side_right_title">信息修改</h4>
                        <form class="form-horizontal" id="postPerInfor">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-3 control-label"><i class="infor_ico infor_company"></i>公司名称</label>
                                <div class="col-md-7">
                                    <input class="form-control" placeholder="请输入公司名称" v-model="postPerInfor.company">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><i class="infor_ico infor_code"></i>信用代码</label>
                                <div class="col-md-7">
                                    <input class="form-control" placeholder="请输入社会信用代码/税号" v-model="postPerInfor.usccode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><i class="infor_ico infor_address"></i>公司地址</label>
                                <div class="col-md-7 form-inline">
                                    <div id="distpicker">
                                        <div class="col-md-4">
                                            <label class="sr-only" for="province">Province</label>
                                            <select class="form-control" id="province"></select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="sr-only" for="city">City</label>
                                            <select class="form-control" id="city"></select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="sr-only" for="district">District</label>
                                            <select class="form-control" id="district"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-7">
                                    <input class="form-control" placeholder="请输入公司地址" v-model="postPerInfor.address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><i class="infor_ico infor_email"></i>注册邮箱</label>
                                <div class="col-md-7 infor_email_div" v-if="umailvflg != 2">
                                    <input class="form-control" placeholder="请输入注册邮箱" v-model="postPerInfor.email">
                                    <button type="button" class="btn btn-primary" @click="fnpostEmail">点击验证</button>
                                </div>
                                <div class="col-md-7" v-else>
                                    <input class="form-control" placeholder="请输入注册邮箱" v-model="postPerInfor.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><i class="infor_ico infor_call"></i>移动电话</label>
                                <div class="col-md-7">
                                    <input class="form-control" placeholder="请输入移动电话" v-model="postPerInfor.phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><i class="infor_ico infor_tele"></i>公司电话</label>
                                <div class="col-md-7">
                                    <input class="form-control" placeholder="请输入公司电话" v-model="postPerInfor.telphone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-7">
                                    <button type="button" class="btn btn-primary" @click="fnpostPerInfor">提交审核</button>
                                </div>
                            </div>
                            <div class="form-group" v-if="isClick == 1">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-7">
                                    <div class="alert alert-warning text-center" role="alert">
                                        您提供的公司资料已经提交审核，我们将在12小时内完成审核工作。<br> 感谢您使用BEECUBIC!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" v-if="ustate == 4">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-7">
                                    <div class="alert alert-warning text-center" role="alert">
                                        您的信息已通过验证，请不要重复验证。<br> 感谢您使用BEECUBIC!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" v-if="umailvflg != 2">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-7">
                                    <div class="alert alert-warning text-center" role="alert">
                                        您的邮箱未通过验证，请先认证邮箱后继续验证信息。<br> 感谢您使用BEECUBIC!
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="pgFoot"></div>
    <style>
        @media (min-width: 992px) {
            .form-horizontal .control-label {
                text-align: left;
                padding-top: 0px;
                padding-left: 40px;
            }
            .form-horizontal .col-md-7 {
                margin-left: -30px;
            }
            .alert {
                margin-top: 40px;
            }
        }

        .form-horizontal .col-md-7 .col-md-4 {
            padding-left: 0px;
            padding-right: 0px;
        }

        .form-inline .form-control {
            width: 100%;
        }

        .infor_email_div {
            padding-right: 100px;
            position: relative;
        }

        .infor_email_div button {
            position: absolute;
            right: 15px;
            top: 0px;
        }
    </style>
</body>

</html>