<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>忘记密码</title>
</head>
<body id="password">
<div class="container-fluid text-center">
    <div class="log_top">
        <img src="./../img/logo.png">
    </div>
    <div class="log_back" id="passwordApp">
        <ul class="nav nav-tabs">
            <li class="active">
                <a class="text-center" href="#home-reg" data-toggle="tab" aria-expanded="true">忘记密码</a>
            </li>
        </ul>
        <form class="tab-content">
            <div id="home-login" class="tab-pane active">
                <!--<div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" placeholder="请输入用户名" class="form-control">
                    </div>
                </div>-->
                <div class="form-group send_code">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        <input type="text" placeholder="请输入手机号" class="form-control" v-model="sendcode.phone">
                    </div>
                    <button type="button" class="btn btn-default" @click="fnchkcode">获取验证码</button>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="text" placeholder="请输入验证码" class="form-control" v-model="password.verycode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" placeholder="请输入新密码" class="form-control" v-model="password.newpwd">
                    </div>
                </div>
                <a href="./login.html" class="pull-right forgetPass">返回登陆</a>
                <div class="form-group">
                    <button type="button" class="btn btn-primary form-control" @click="fnpassword">找回密码</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
        .log_back {
            background-color: rgba(256,256,256,0.7);
            padding: 0;
            width: 400px;
            display: inline-block;
            border-radius: 4px;
            margin-top: 0px;
        }

        .log_back li {
            width: 100%;
        }
    </style>
</body>
</html>
